body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  background-color: #1a1a1a;
  color: white;
}

.app-header {
  background-color: #333;
  padding: 20px 0;
}

.app-header h1 {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.button img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.button:hover {
  transform: scale(1.05);
}